# 1. Melakukan import library pandas

In [1]:
import pandas as pd

# 2. Mendownload file csv

In [2]:
!wget --no-check-certificate \
  https://raw.githubusercontent.com/TehBotolBayu/Praktikum_KB/main/Posttest_KB_2/INTC.csv \
  -O /content/INTC.csv

--2022-09-27 13:57:37--  https://raw.githubusercontent.com/TehBotolBayu/Praktikum_KB/main/Posttest_KB_2/INTC.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1037124 (1013K) [text/plain]
Saving to: ‘/content/INTC.csv’

/content/INTC.csv   100%[===================>]   1013K  --.-KB/s    in 0.05s

2022-09-27 13:57:38 (19.3 MB/s) - ‘/content/INTC.csv’ saved [1037124/1037124]

# 3. Mengubah file csv ke dalam pandas dataframe

In [3]:
df = pd.read_csv('/content/INTC.csv')

# 4. Deklarasi dictionary kosong

In [4]:
data = {}

# 5. Jumlah record dari dataset

In [5]:
data['jumlah_record'] = len(df)
print(data['jumlah_record'])

10361

# 6. Daftar nama atribut

In [6]:
data['nama_atribut'] = list(df.columns)
print(data['nama_atribut'])

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

# 7. Jumlah atribut

In [7]:
data['jumlah_atribut'] = len(df.columns)
print(data['jumlah_atribut'])

7

# 8. Jumlah atribut bertipe objek

In [8]:
objek = df.select_dtypes(include=['object']).columns
data['tipe_objek']=len(objek)
print(data['tipe_objek'])

1

# 9. Jumlah atribut bertipe angka

In [9]:
angka = df.select_dtypes(include=['float64', 'int64']).columns
data['tipe_angka']=len(angka)
print(data['tipe_angka'])

6

# 10. Jumlah atribut bertipe null

In [10]:
null = df.columns[df.isna().any()].tolist()
data['tipe_null']=len(null)
print(data['tipe_null'])

0

# 11. Menampilkan dictionary berisi informasi dataset

In [11]:
print('------------------------------------------------------------------------------------------')
print('Key\t\t\t| Value')
print('------------------------------------------------------------------------------------------')
for i in data:
  print(i, end='\t\t| ')
  print(data[i])
print('------------------------------------------------------------------------------------------')

------------------------------------------------------------------------------------------
Key			| Value
------------------------------------------------------------------------------------------
jumlah_record		| 10361
nama_atribut		| ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
jumlah_atribut		| 7
tipe_objek		| 1
tipe_angka		| 6
tipe_null		| 0
------------------------------------------------------------------------------------------

# 12. Menampilkan nilai mean, standard deviation, minimum, maximum, quartile 1, quartile 2, quartile 3, dari atribut bertipe angka

In [12]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10361.000000,10361.000000,10361.000000,10361.000000,10361.000000,1.036100e+04
mean,18.727894,18.988562,18.473001,18.728650,14.346493,5.129002e+07
std,16.999345,17.245786,16.766148,17.001751,14.824049,3.537224e+07
min,0.218750,0.218750,0.216146,0.216146,0.132506,0.000000e+00
25%,1.203125,1.226563,1.187500,1.207031,0.739958,2.725010e+07
50%,19.593750,19.870001,19.350000,19.580000,12.944845,4.561580e+07
75%,28.450001,28.875000,27.990000,28.420000,19.719311,6.564030e+07
max,75.625000,75.828125,73.625000,74.875000,68.260002,5.677088e+08

# 13. Menampilkan nilai korelasi

In [13]:
df.corr(method='pearson')

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999787  0.999783  0.999562   0.969008 -0.136930
High       0.999787  1.000000  0.999660  0.999762   0.968094 -0.133901
Low        0.999783  0.999660  1.000000  0.999783   0.970417 -0.140436
Close      0.999562  0.999762  0.999783  1.000000   0.969598 -0.137259
Adj Close  0.969008  0.968094  0.970417  0.969598   1.000000 -0.198231
Volume    -0.136930 -0.133901 -0.140436 -0.137259  -0.198231  1.000000

# 14. Mengubah atribut bertipe bilangan bulat int64 ke bilangan titik kambang float64, dan menampilkannya pada presisi 3 angka dibelakang koma

In [14]:
i = df.select_dtypes(include=['int64']).columns
df[i] = df[i].astype(float)
pd.options.display.float_format = "{:,.3f}".format
print(df[i])

              Volume
0     10,924,800.000
1     17,068,800.000
2     18,508,800.000
3     11,174,400.000
4     12,172,800.000
...              ...
10356 26,822,000.000
10357 25,768,400.000
10358 24,927,700.000
10359 24,607,000.000
10360 23,990,400.000

[10361 rows x 1 columns]

# 15. Menampilkan 10 record pertama dari atribut bertipe angka

In [15]:
df[angka].head(10)

   Open  High   Low  Close  Adj Close         Volume
0 0.326 0.331 0.326  0.326      0.200 10,924,800.000
1 0.326 0.328 0.323  0.323      0.198 17,068,800.000
2 0.331 0.336 0.331  0.331      0.203 18,508,800.000
3 0.331 0.335 0.329  0.329      0.202 11,174,400.000
4 0.323 0.323 0.318  0.318      0.195 12,172,800.000
5 0.316 0.316 0.311  0.311      0.191  8,966,400.000
6 0.312 0.318 0.312  0.312      0.192 11,347,200.000
7 0.312 0.315 0.310  0.310      0.190 16,262,400.000
8 0.305 0.305 0.299  0.299      0.184 26,918,400.000
9 0.311 0.316 0.311  0.311      0.191 20,102,400.000

# 16. Menyimpan atribut bertipe angka ke dalam file csv baru

In [16]:
df[angka].to_csv('Atribut_angka.csv', index=False)